<div class="layout-column flex">
  {{paper-input
      type="number"
      value=model.hours
      onChange=(action (queue (action (mut model.hours)) (action "saveTimeEntry" model)))}}
  {{#paper-select label="Actividad" options=actividades selected=model.activity required=true onChange=(action (queue (action (mut model.activity)) (action "saveTimeEntry") )) as |actividad|}}
    {{actividad.name}}
  {{/paper-select}}
  {{#if isInvalidAndTouched}}
    <div class="md-input-messages-animation md-auto-hide">
      {{#each validationErrorMessages as |error index|}}
        <div
          class="paper-input-error ng-enter ng-enter-active md-input-message-animation"
          style="opacity: 1; margin-top: 0; color: #f00">
          {{error}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>